<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <title>Skript Editor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Skript editor is a tool that allows you to edit the language designed for minecraft, skript, with autocorrect and error formatting."/>
    <meta name="theme-color" content="#ffce8f"/>
    <link rel="icon" sizes="192x192" href="/images/icons/icon-192x192.png">
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">
    <meta name="keywords" content="skEditor, Skript Editor">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <input type="file" id="fileElem" multiple accept=".sk, .txt" style="display:none" onchange="handleFiles(this.files)">
    <div class="header">
      <img id="file" class="button" alt="Files" src="images/file.svg" width="50" height="50">
      <img id="import" class="button" alt="Upload File(s)" src="images/upload.svg" width="50" height="50">
      <img id="export" class="button" alt="Download File" src="images/download.svg" width="50" height="50">
      <img id="options" class="button" alt="Options" src="images/options.svg" width="50" height="50">
      <img id="link" class="button" alt="ShortURL" src="images/link.svg" width="50" height="50">
      <img id="share" class="button" alt="Share" src="images/share.svg" width="50" height="50">
    </div>
    <div class="main">
      <div class="compile-code">
        <pre name="code" id="editor" style="border: none;"></pre>
      </div>
    </div>
    <div class="footer">
        {{> footer}}
    </div>
    <div class="modal options-modal">
      <div class="modal-content">
        {{> settings}}
      </div>
    </div>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="lib/toast.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="ace/ace.js"></script>
    <script src="lib/codeblast.js"></script>
    <script src="ace/ext-split.js"></script>
    <script src="ace/ext-language_tools.js"></script>
    <script src="lib/toast.js"></script>
    <script src="/scripts/script.js" defer></script>
    <script>if (navigator.serviceWorker) navigator.serviceWorker.register('/sw.js', {scope: '/'})</script>
  </body>
</html>