<html>
  <head>
    <style>
      body {
        text-align: center;
        background-color: wheat;
      }
    </style>
  </head>
  <body>
  Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
I want golden wind<br>
I want golden wind<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
It's like a burning sunrise<br>
It's like a burning sunset<br>
JOJO<br>
I want golden wind<br>
I want golden wind<br>
yeah, it's like a golden wind<br>
I'm dancing for your mind<br>
I'm shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a<br>
shaking like a burning golden wind<br>
spread wide your golden wing<br>
why don't you dance to swing?<br>
I'm swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a<br>
swinging like a shining golden wind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>
It's like a burning sunrise<br>Vocal percussion on a whole another level<br>
Coming from my mind<br>
Vocal percussion on a whole another level<br>
Coming from my mind<br>

  </body>
</html>