<!DOCTYPE html>
<html lang="en">
  <head>
    <title>skEditor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <div class="main">
      <div class="wrapper">
        <h1 class="title">Skript Editor</h1>
        <p class="text-wrapper">skEditor is a web application tool allowing you to easily edit your skript applications.
        </p>
        <a href="https://skript-editor.glitch.me/app" class="app">Open The App</a>
      </div>
    </div>
    <div class="features">
      <div class="section left">
        <img src="https://via.placeholder.com/300">
        <h1>Designed for Skript</h1>
        <p>This editor was specifically designed to improve your SKripting experience</p>
      </div>
      <div class="section right">
        <img src="https://via.placeholder.com/300">
        <h1>Customisable</h1>
        <p>Choose between different themes</p>
      </div>
      <div class="section left">
        <img src="https://via.placeholder.com/300">
        <h1>Open Source</h1>
        <p>The code can be found <a href="https://glitch.com/edit/#!/skript-editor">here!</a></p>
      </div>
    </div>
  </body>
</html>