@import url('https://fonts.googleapis.com/css?family=Inconsolata');
body {
  
  margin: 0;
  overflow: hidden;
}
#editor {
    margin-top: 50px;
    margin-left: 160px;
    width: calc(100% - 160px);
    height: calc(100vh - 50px - 18px);
    font-size: 13px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: left;
  padding: 1px;
  padding-left: 5px;
  height: 18px;
  background-color: DodgerBlue;
  color: white;
  width: 100%;
  z-index: 20;
  font-size: 13px;
  font-family: 'Inconsolata', monospace;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 10px;
  padding-left: 5px;
  color: white;
  font-family: Monospace;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 160px;
  text-align: left;
  background-color: #e8e8e8;
  width: 100%;
  height: 50px;
  z-index: 20;
  font-size: 9px;
}
.file, #import, #export, #update {
  transition: 200ms all;
}
.file:hover, #import:hover, #export:hover {
  transform: scale(1.1);
  background-color: white;
  border-radius: 10px;
}
.file:active, #import:active, #export:active{
  transform: scale(1.2);
}
#update:hover {
  transform: rotate(90deg);
  background-color: white;
  border-radius: 10px;
}
#update:active {
  transform: rotate(180deg);
  
}